nav {margin-top: 10px;}
nav a {border-right: 1px solid black;}
div h6 card-title {text-indent: right;}
div img {text-align: center;}
i{font-size: 25px;}
div oi {padding: 0px;
margin: 0px;}















