p{font-size: 30px;}
i {font-size: 25px;}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li h6 {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}